version: '3.8'

services:
  frontend:
    build: ./frontend
    image: ${ECR_REGISTRY}/my-ecr:frontend
    container_name: frontend
    ports:
      - "3001:80"
    networks:
      - app_network
    depends_on:
      - backend

  backend:
    build: ./backend
    image: ${ECR_REGISTRY}/my-ecr:backend
    container_name: backend
    ports:
      - "3000:3000"
    networks:
      - app_network
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: password
      DB_NAME: mydb
    depends_on:
      db:
        condition: service_healthy

  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    image: ${ECR_REGISTRY}/my-ecr:db
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3306"
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s 

networks:
  app_network:
    driver: bridge