name: CI/CD for Multi-Container App with ECR and EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Log in to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 825765414083.dkr.ecr.us-east-1.amazonaws.com

      - name: Set up Docker Buildx
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Images for Testing
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
        run: |
          docker compose build

      - name: Start Local Containers for Testing
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
        run: |
          docker compose up -d
          sleep 10  # Wait for services to initialize

      - name: Test Application Locall
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
        run: echo "Testing frontend..."
          curl -f http://localhost:3001 || exit 1

          echo "Testing backend..."
          curl -f http://localhost:3000 || exit 1

      - name: Stop and Clean Up Local Containers
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
        run: |
          docker compose down

      - name: Build and Push Docker Compose Images
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ACTIONS_STEP_DEBUG: "true"
        run: |
          docker buildx create --use
          docker compose build
          docker compose push

    